# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Studium\Master Emden\Semester 1\Verfahren und Werkzeuge moderner Softwareentwicklung\Metriken\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
